  <div class='form-inline d-flex justify-content-end favorite-btn-group-<%= post.id %>'>
    <div class='favorite-btn'>
      <% if post.favorite_by?(current_user) %>
        <%= link_to 'â¤ï¸', post_favorites_path(post), method: :delete, remote: true %>
      <% else %>
        <%= link_to 'ðŸ’™ï¸', post_favorites_path(post), remote: true %>
      <% end %>
    </div>
    <div class='favorite-count'>
      <%= post.favorites.count %>
    </div>
  </div>
