<div class='col-lg-6 col-12 comment-box'>
  <!--コメント表示エリア-->
  <div class='col-lg-12 mt-3 comment-field'>
    <%= render 'post_comments/comment_field', post_comments: post_comments %>
  </div>
  <!--コメント入力フォーム-->
  <%= form_with model:[post, post_comment] do |f| %>
    <div class='col-11 form-inline my-3 p-0 comment-form'>
      <%= f.text_area :comment, placeholder: (t '.comment_word_count'), class: 'col-9' %>
      <%= f.submit (t '.send'), class: 'col-2 offset-1 text-center btn btn-success' %>
    </div>
  <% end %>
</div>

