<div class='error-explanation text-danger'>
  <% if model.errors.any? %>
    <h4><%= t '.content' %> <%= model.errors.count %><%= t '.mistake' %> </h4>
    <% model.errors.full_messages.each do |message| %>
      <p class='pb-2'>・<%= message %></p>
    <% end %>
  <% end %>
</div>