<div class='container posts-index'>
  <div class='row mt-2 mb-5'>
    <%= render 'shared/sort_search', user: @user %>
  </div>
  <div class='row mt-2 mb-5'>
    <%= render 'posts/index', posts: @posts %>
  </div>
</div>