<div class='container posts-show'>
  <%= render 'shared/error', model: @post_comment %>
  <div class='row mt-1 mb-5 mx-1 posts-show-box'>
    <!--ゲームタイトル-->
    <div class='col-12 d-flex align-items-center justify-content-center post-show-heading'>
      <h2 class='mb-0 text-center'>
        <%= @post.title %>
      </h2>
    </div>
    <%= render 'posts/detail', post: @post %>
    <%= render 'post_comments/post_comment', post: @post, post_comment: @post_comment, post_comments: @post_comments %>
  </div>
</div>



