<div class='container posts-show'>
  <%= render 'shared/error', model: @post_comment %>
  <div class='row mt-5'>
     <%= render 'posts/detail', post: @post %>
     <%= render 'posts/post_comment', post: @post, post_comment: @post_comment %>
  </div>
</div>



