/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";

@import "bootstrap";
@import "colors";

@font-face {
  font-family: "Koruri-Semibold";
  src: url('/assets/Koruri-Semibold.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url('black0007.png');
  .wrapper{
   width: 100%;
   min-height: 100%;
   margin-bottom: -50px;

   .notice{
    width: 80%;
    height: 30px;
    background-color: $notice;
   }
   .alert{
    width: 80%;
    height: 30px;
    background-color: $alert;
   }
   .push{
    height: 50px;
   }
  }
 .footer{
 height: 50px;
 background-color: $header_footer;
 }
}

.navbar{
 background-color: $header_footer;
 .header-left{
  font-family: "Koruri-Semibold";
  text-decoration: none;
  color: white;
 }
 .welcom{
  color: $nav_link;
 }
}


// .container{
//  margin-left: 150px;
//  margin-right: 100px;
// }


 #error-explanation{
 border-radius: 10px;
 background-color: $alert;
 h4{
  padding: 15px;
  color: black;
 }
 p{
  padding-left: 30px;
  padding-bottom: 0;
  margin: 0;
  color: black;
 }
}

 .form-group{
  margin: 15px;
 }

.sign-up-in-form{
 background-color: white;
 border: 1px solid;
 border-radius: 10px;
 width: 400px;
 .sign-up-in-heading{
  width: 150px;
  border-bottom: 2px solid;
 }
}

.users-edit,
.posts-new{
 .input-form{
  padding: 0;
  margin: 0 auto;
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  .form-heading{
   border-bottom: 2px solid;
  }
  .rate-group{
   width: 80%;
   border: 1px solid;
   border-radius: 10px;
  }
 }
}

.users-show,
.posts-index{
 .posts-list{
   width: 30%;
   text-decoration: none;
   color: black ;
   background-color: white;
   border: 1px solid;
   border-radius: 10px;
   .score-group{
    width: 90%;
    border: 1px solid;
    border-radius: 10px;
    .score-list{
     margin-top: 5px;
     width: 95%;
    }
   }
 }
}

.posts-show{
 .posts-show-box{
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  width: 50%;
  height: 77vh;
  .posts-show-heading{
   width: 200px;
   border-bottom: 2px solid;
  }
  .impression-field{
   height: 15%;
   .posts-body-box{
    overflow: auto;
    border: 1px solid;
    width: 80%;
    height: 80%;
   }
  }
  .score-group{
   width: 100%;
   border: 1px solid;
   border-radius: 10px;
   .score-label{
    margin-left: 0;
    padding-left: 0;
   }
   .score-list{
    margin: 15px;
   }
  }
 }
 .comment-box{
  border-radius: 10px;
  background-color: white;
  height: 77vh;
  .comment-form{
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 10%;
   border-bottom: 1px;
  }
  .comment-field{
   height: 85%;
   overflow: auto;
   .comment{
    border: 1px solid ;
    border-radius: 10px;
   }
  }
 }
}

.nav-link{
 font-family: "Koruri-Semibold";
 text-decoration: none;
 .nav-link-word{
  color: $nav_link;
 }
}

.nav-icon{
 color: orange;
}

.no-posts{
 color: white;
 height: 30px;
}

.search-sort{
 height: 5vh;
}
