/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "colors";

 body{
  background-image: url('black0007.png');
  .wrapper{
   width: 100%;
   height: 100%;
   margin-bottom: -50px;
   .notice{
    width: 80%;
    height: 50px;
    background-color: $notice;
   }
   .alert{
    width: 80%;
    height: 50px;
    background-color: $alert;
   }
   .push{
    height: 70px;
   }
  }
 }

.footer{
width: 100%;
height: 50px;
// position: absolute;
// bottom: 0;
background-color: silver;
}



 .error-explanation{
 border-radius: 10px;
 background-color: $alert;
 h4{
  padding: 15px;
  color: black;
 }
 p{
  padding-left: 30px;
  padding-bottom: 0;
  margin: 0;
  color: black;
 }
}

.sign-up-in-form{
 background-color: white;
 border: 1px solid;
 border-radius: 10px;
 width: 400px;
 .sign-up-in-heading{
  width: 150px;
  border-bottom: 2px solid;
 }
}
 .form-group{
  margin: 15px;
 }

.posts-new{
 .post-new-form{
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  width: 50%;
  .post-new-heading{
   width: 200px;
  border-bottom: 2px solid;
  }
  .rate-group{
   width: 80%;
   border: 1px solid;
   border-radius: 10px;
  }
 }
}

.posts-index{
 .item{
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
 }
}