// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "font-awesome-sprockets";
@import "font-awesome";

@import "bootstrap";
@import "colors";

.notifications-index{
 .notifications-field{
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  .notifications-header{
   border-bottom: 1px solid;
   h3{
    font-family: "Koruri-Semibold";
   }
  }
  table{
   th{
    a{
     text-decoration: none;
     &:hover{
       color: red;
     }
    }
   }
   td{
    a{
     text-decoration: none;
    }
   }
  }
  .pagenate-label{

  }
 }
}