// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "font-awesome-sprockets";
@import "font-awesome";

@import "bootstrap";
@import "colors";

// 新規投稿と投稿編集ページ
.posts-new,
.posts-edit{
 .form-heading{
  font-family: "Koruri-Semibold";
  border-bottom: 2px solid;
  width: 50%;
 }
 .input-form{
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  .impressin-field{
   height: 10vh;
  }
  .score-group{
   border: 1px solid;
   border-radius: 10px;
  }
  .score-list{
   margin: 0;
   margin-top: 5px;
   label{
    margin-bottom: 0;
   }
   .score-star{
    padding: 0;
   }
  }
 }
}

.posts-index{
 .page-heading{
  font-family: "Koruri-Semibold";
  color: black;
  background-color: $page_heading;
  border: 1px solid white;
 }
 .posts-list:nth-child(3n+1){
  margin-left: 0;
 }
 .posts-list{
   width: 32%;
   margin-left: 2%;
   text-decoration: none;
   color: black ;
   background-color: white;
   border: 1px solid;
   border-radius: 10px;
   .score-group{
    width: 90%;
    border: 1px solid;
    border-radius: 10px;
    .score-list{
     margin-top: 5px;
     width: 95%;
    }
   }
 }
}

.posts-show{
 .posts-show-box{
   background-color: $posts_show_box;
   border-radius: 10px;
 .post-show-heading{
  font-family: "Koruri-Semibold";
  height: 5vh;
 }
 .posts-detail-box{
  background-color: $posts_detail;
  border-bottom-left-radius: 10px;
  .genre-label{
    text-align: right;
   }
   .score-label{
    text-align: right;
   }
  .impression-field{
   height: 20vh;
   .impression-label{
    text-align: right;
   }
   .posts-body-box{
    background-color: white;
    overflow: auto;
    border: 1px solid;
    border-radius: 10px;
    width: 80%;
    height: 80%;
   }
  }
  .score-group{
   background-color: white;
   width: 100%;
   border: 1px solid;
   border-radius: 10px;
   .score-label{
    margin-left: 0;
    padding-left: 0;
   }
   .score-list{
    margin: 15px;
   }
  }
 }
 .comment-box{
  background-color: $posts_detail;
  border-bottom-right-radius: 10px;
  height: 75vh;
  .comment-form{
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 10%;
   border-bottom: 1px;
  }
  .comment-field{
   background-color: white;
   height: 85%;
   overflow: auto;
   img{
       border-radius: 30px;
   }
   .comment{
    border: 1px solid ;
    border-radius: 10px;
   }
  }
 }
 }
}

// レスポンシブ
@media screen and (max-width: 1024px) {
 // 投稿一覧ページ
.posts-index{
 .posts-list:nth-child(even){
  margin-left: 4%;
 }
 .posts-list{
   width: 46%;
   margin-left: 0;
 }
 }
}

@media screen and (max-width: 768px) {
 // 投稿一覧ページ
 .posts-index{
   .posts-list:nth-child(even){
    margin-left: 3%;
   }
   .posts-list{
    width: 47%;
    margin-left: 0;
    text-decoration: none;
    .score-label{
     font-size: 12px;
    }
   }
  }
  // 投稿詳細ページ
 .posts-show{
  .posts-show-box{
    border-radius: 10px;
  .post-show-heading{
   height: 5vh;
   h2{
    font-size: 20px;
   }
  }
  .posts-detail-box{
   border-bottom-left-radius: 0px;
   .impression-field{
    height: 20vh;
    .posts-body-box{
     background-color: white;
     overflow: auto;
     border: 1px solid;
     border-radius: 10px;
     width: 80%;
     height: 80%;
    }
   }
   .score-group{
    background-color: white;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    .score-label{
     margin-left: 0;
     padding-left: 0;
    }
    .score-list{
     margin: 15px;
    }
   }
   }
   .comment-box{
    background-color: $posts_detail;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    .comment-field{
     background-color: white;
     height: 80%;
     overflow: auto;
     .comment{
      border: 1px solid ;
      border-radius: 10px;
     }
    }
    .comment-form{
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 10%;
     border-bottom: 1px;
    }
   }
  }
 }
}

@media screen and (max-width: 425px) {
 // 投稿一覧ページ
.posts-index{
 .posts-list:nth-child(even){
  margin-left: 0;
 }
 .posts-list{
   width: 100%;
   margin-left: 0;
  }
 }
   // 投稿詳細ページ
 .posts-show{
  .posts-show-box{
    border-radius: 10px;
  .post-show-heading{
   h2{
    font-size: 20px;
   }
  }
  .posts-detail-box{
   border-bottom-left-radius: 0px;
   .genre-label{
    text-align: left;
   }
   .impression-field{
    height: 20vh;
    .posts-body-box{
     background-color: white;
     overflow: auto;
     border: 1px solid;
     border-radius: 10px;
     width: 80%;
     height: 80%;
    }
   }
   .score-group{
    background-color: white;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    .score-label{
     margin-left: 0;
     padding-left: 0;
     font-size: 15px;
    }
    .score-list{
     margin: 15px;
    }
   }
   }
   .comment-box{
    background-color: $posts_detail;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    .comment-field{
     background-color: white;
     height: 80%;
     overflow: auto;
     .comment{
      border: 1px solid ;
      border-radius: 10px;
     }
    }
    .comment-form{
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 10%;
     border-bottom: 1px;
    }
   }
  }
 }
}
